.clicked{
    width:60%;
    margin-bottom: 10px;
}
.text{
    color:green;
}
.changed{
    color: red;
}
.Task{
    border: 1px solid;
    width: 50%;
    height: 200px;
}

.thirdTask__container{
    display: flex;
    flex-direction: column;
    width: 200px;
    justify-content: space-around;
}

.thirdTask input::-webkit-outer-spin-button,
.thirdTask input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.task4{
    height: 550px;
}
.default{
    display: flex;
    margin-bottom: 10px;
    width: 30%;
}